body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.logo {
    position: absolute;
    top: 80px;
    left: 120px;
    width: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.seccion {
    margin-bottom: 30px;
}

.seccion h3 {
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}

.datos {
    border-collapse: collapse;
    width: 100%;
}

.datos th, .datos td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.datos th {
    background-color: #f2f2f2;
}

.boton-descargar {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #a20000;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; /* Ajusta este valor para subir o bajar el botón */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table th {
    background-color: #f2f2f2;
}
table tr:nth-child(even) {
    background-color: #f9f9f9;
}